{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>{{file}}</h1>
Alles moet in cijfers!
<br>
<form action="{{ url_for("years") }}" method="POST">
    <label for="day">Day:</label>
    <br>
    <input type="text" id="day", name="day">
    <br>
    <label for="month">Month:</label>
    <br>
    <input type="text" id="month", name="month">
    <br>
    <label for="year">Year:</label>
    <br>
    <input type="text" id="year", name="year">
    <br>

    <input type="submit" value="Search For Graph">

</form>

{% endblock %}